<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<form th:action="@{/save-vhs}" th:object="${film}" method="post">
    <label>Title: </label>
    <input type="text" th:field="*{title}"/><br>
    <label>Description: </label>
    <input type="text" th:field="*{description}"/><br>
    <label>Release Year: </label>
    <input type="text" th:field="*{releaseYear}"/><br>
    <label>Replacement Cost: </label>
    <input type="text" th:field="*{replacementCost}"/><br>
    <label>Rating: </label>
    <input type="text" th:field="*{rating}"/><br>
    <label>Special Features: </label>
    <input type="text" th:field="*{specialFeatures}"/><br>
    <label>Length of Film: </label>
    <input type="text" th:field="*{length}"/><br>
    <button type="submit">Register</button>
</form>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>