<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="adminButtons">
    <h2>Please select an admin task:</h2><br/>
    <a class="adminButton" th:href="@{/add-vhs}">Add VHS</a>
    <a class="adminButton" th:href="@{/add-user}">Add User</a><br><br/>

    <a class="adminButton" th:href="@{/show-vhs}">Show VHS</a>
    <a class="adminButton" th:href="@{/show-staff}">Show Staff</a>
    <a class="adminButton" th:href="@{/show-customers}">Show Customers</a><br><br/>

    <a class="adminButton" th:href="@{/all-reserved-vhs}">Show Currently Reserved</a>
    <a class="adminButton" th:href="@{/rented}">Show Currently Rented</a>
    <a class="adminButton" th:href="@{/customer-waiting-list}">Show Waiting Customers</a><br><br/>
</div>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>