<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category VHS</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<table class="film-table">
    <thead>
    <tr>
        <th>Film name</th>
        <th>Category ID</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tr th:each="film : ${reservedFilms}">
        <td th:text="${film.title}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.rating}"></td>

<!--        <td th:text="${users.findByUserId(userLink.findByFilmId(film.filmId).userId).get(0).getEmail()}"></td>-->

        <td><a th:href="@{/category/{id}(id=${film.filmId})}">Change category</a></td>
    </tr>
</table>
<form th:action="@{edit-category}" method="post">
    <label> Category: </label>
    <select th:class="form-control" th:id="categoryName" th:name="categoryName">
        <option th:each="category : ${categories}"
                th:value="${category.name}"
                th:text="${category.name}"
        >
        </option>
    </select>

    <input type="submit" value="SEARCH">
</form>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>