<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link th:href="@{..css/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:insert="fragments/header"></div>
<table class="film-table">
    <thead>
    <tr>
        <th >Film name</th>
        <th>Film description</th>
        <th>Film age rating</th>
    </tr>
    </thead>
    <tr th:each="film : ${films}">
        <td th:text="${film.title}"></td>
        <td th:text="${film.description}"></td>
        <td th:text="${film.rating}"></td>

        <td><a class="actionButton" th:href="@{/reserve/{id}(id=${film.filmId})}">Reserve</a></td>
    </tr>
</table>
<div th:insert="fragments/footer"></div>
</body>
</html>