<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<table>
    <thread>
        <tr>
            <th>Film Name</th>
            <th>Customer Name</th>
            <th>Rental Data</th>
            <th>Return Date</th>
            <th>Edit</th>
        </tr>
    </thread>
    <tr th:each="film : ${rentedFilms}">
        <td th:text="${film.title}"></td>
<!--        <td th:text="${customer}"-->
<!--        <td th:text="${rental_date}"></td>-->
<!--        <td th:text="${return_date}"></td>-->
<!--        <td><a th:href="@{/edit/{id}(id=${id})}">edit</a></td>-->
    </tr>
</table>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>