<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<div th:insert="fragments/header"></div>

<div class="search-bar">
    <h2>Search for a Film</h2>
    <form th:action="@{/search-results}" method="post">
        <label>Film Name: </label>
        <input type="text" name="customerName"/>
        <select th:field="*{category}">
            <option value="">Select Category</option>
            <option th:each="category : ${category}"
                    th:value="${category.category_id}"
                    th:text="${category.name}"></option>
        </select>
        <input type="submit" value="Search">
    </form>
</div>

<div>
    <table class="search-results-table">
        <thead>
        <tr>
            <th>Film name</th>
            <th>Film description</th>
            <th>Film age rating</th>
        </tr>
        </thead>
            <tr th:each="film : ${films}">
                <td th:text="${film.name}"></td>
                <td th:text="${film.description}"></td>
                <td th:text="${film.rating}"></td>

                <td><a th:href="@{/reserve/{id}(id=${film.id})}">Reserve</a></td>
            </tr>
    </table>
    </table>
</div>
<div th:insert="fragments/footer :: main"></div>
</body>
</html>